html {
  max-width: 100%;
}

body {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  font-size: 2em;
}

h1, h2 {
  color: rgb(199, 65, 105);
}

div {
  background-color: rgb(233, 233, 233);
}
li {
  text-align: left;
}

img {
  width: 30em
}
